<div class="container">
  <div class="text-center">
    <h1>Todas as Lojas</h1>
    <% if !@stores.empty? %>
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Loja</th>
          </tr>
        </thead>
        <tbody>
          <% @stores.each do |store| %>
            <tr>
              <td><%=link_to store.name, store_path(store), class: "btn btn-warning"%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>Nenhuma loja cadastrada!</p>
    <% end %>

    <p><%=link_to "Criar Loja", new_store_path ,class: "btn btn-primary"%></p>
  </div>
</div>

