<div class="container">
<div class="text-center">
<h1>Bem Vindo ao Gecommerce!</h1>
<p>Sua plataforma fácil de Ecommerce.</p>
</div>
<img src="images/ecommerce.jpg" class="img img-fluid rounded" />
</div>
