<div class="text-center">
<table class="table">
  <tr>
    <td>Nome: <%= @product.name %></td>
  </tr>
  <tr>
    <td>Descrição: <%= @product.description %></td>
  </tr>
  <tr>
    <td>Valor: <%= @product.value %></td>
  </tr>
  <tr>
    <td>Quantidade: <%= @product.quantity %></td>
  </tr>
</table>
</div>
